extends layout

block content
  h1= title
  p Welcome to #{title}
  img(src= src alt="Image Title")
  img(src= src1 alt="Image Title")
  img(src= src2 alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  img(src="https://wallpapercave.com/wp/9OYMGcV.jpg" alt="Image Title")
  script.
    setTimeout(function(){ location.reload() }, 2000);


